.cartes {
    height: 180px;
    width: 124px;
}

.player, #board_game {
    text-align: center;
}

#throw {
    margin-top: 20px;
}

#stop {
    margin-top: 20px;
    margin-left: 30px;
}

.darken {
    filter: brightness(50%);
}

.gathered_cards, .continue_check, .sips, .ass_dry {
    padding-top: 40px;
}

.bootstrap-select {
    padding-top: 30px;
}

input[type='checkbox'] {
    zoom: 1.5;
}

.added {
    color: blue;
}
